<head>
    <title>Control</title>
</head>

<body>
    <!-- <nav>
        <a href="/control/">Control</a>
        <a href="/control/progres">Progress</a>
    </nav> -->

    <!-- <progress value="{{job['threads_finished']}}" max="{{job['thread_count']}}" style="height:30px; width: -webkit-fill-available;"></progress>
    <br> -->

    <br>


    {% if job["started"] %}
        RUNNING
    {% else %}
        WAITING
    {% endif %}

    <br>
    <br>

    <table style="border-spacing: 10px; ">
        <tr>
            <td>Total:</td>
            <td style="text-align: end;">{{ job['thread_count']}}</td>
        </tr>
        <tr>
            <td>Started:</td>
            <td style="text-align: end;">{{ job['threads_started'] }}</td>
        </tr>
        <tr>
            <td>Finished:</td>
            <td style="text-align: end;">{{ job['threads_finished'] }}</td>
        </tr>
        <tr>
            <td>Running:</td>
            <td style="text-align: end;">{{ job['threads_started']-job['threads_finished'] }}</td>
        </tr>
        <tr>
            <td><a href="./possitions">Found:</td>
            <td style="text-align: end;"><a href="./possitions">
                {{ len(possitions) }}
            </td>
        </tr>
        <tr>
            <td>Estimated Duration:</td>
            <td style="text-align: end;">{{ job["estimated_duration"] }}</td>
        </tr>
    </table>



    <table style="border-spacing: 10px; text-align: center;">
        <thead>
            <th>id</th>
            <th>CPU Cores</th>
            <th>CPU Test duration</th>
            <th>CPU Score</th>
            <th>CPU Enabled</th>
            <th>CPU Scheduled Threads</th>
            <th>CPU Estimated Duration</th>

            <th>GPU Cores</th>
            <th>GPU Test duration</th>
            <th>GPU Score</th>
            <th>GPU Enabled</th>
            <th>GPU Scheduled Threads</th>
            <th>GPU Estimated Duration</th>
        </thead>
        <tbody>
            {% for worker in workers.values() %}
            <tr>
                <td>{{worker.id}}</td>

                {% if worker.cpu_info %}
                    <td>{{worker.cpu_info["core_count"]}}</td>
                    <td>{{worker.cpu_info["score"]}}</td>
                    <td>{{round(worker.cpu_info["score"]*worker.cpu_info["core_count"])}}</td>
                    <td><a href="/control/update_enabled/{{worker.id}}/cpu/{{not(worker.cpu_enabled)}}">
                        <input onclick="this.parentElement.click()" type="checkbox" {{ "checked=1" if worker.cpu_enabled }}></a></td>
                    <td>{{ worker.cpu_info["thread_overload"] * worker.cpu_info["core_count"] if worker.cpu_info["thread_overload"] else None }}</td>
                    <td>{{ worker.cpu_info["estimated_duration"] }}</td>
                {% else %}
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                {% endif %}

                {% if worker.gpu_info %}
                    <td>{{worker.gpu_info["core_count"]}}</td>
                    <td>{{worker.gpu_info["score"]}}</td>
                    <td>{{(round(worker.gpu_info["score"]*worker.gpu_info["core_count"]))}}</td>
                    <td><a href="/control/update_enabled/{{worker.id}}/gpu/{{not(worker.gpu_enabled)}}">
                        <input onclick="this.parentElement.click()" type="checkbox" {{ "checked=1" if worker.gpu_enabled }}></a></td>
                    <td>{{ worker.gpu_info["thread_overload"] * worker.gpu_info["core_count"] if worker.gpu_info["thread_overload"] else None }}</td>
                    <td>{{ worker.gpu_info["estimated_duration"] }}</td>
                {% else %}
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <a href="/control/start_job">START</a>

    <br>
    <br>

    <a href="/control/reset">RESET</a>


    <script type="text/javascript">
        setTimeout(function(){
            window.location.reload();
        }, 5000);
    </script>
</body>
