<head>
    <title>Control</title>
</head>

<body>
    <!-- {{workers}} -->
    <table>
        <thead>
            <th>id</th>
            <th>CPU Cores</th>
            <th>CPU Score</th>
            <th>CPU Enabled</th>
            <th>GPU Cores</th>
            <th>GPU Score</th>
            <th>GPU Enabled</th>
        </thead>
        <tbody>
            {% for worker in workers.values() %}
            <tr>
                <td>{{worker.id}}</td>

                {% if worker.cpu_info %}
                    <td>{{worker.cpu_info["cores"]}}</td>
                    <td>{{worker.cpu_info["score"]}}</td>
                    <td><a href="/control/update_enabled/{{worker.id}}/cpu/{{not(worker.cpu_enabled)}}">
                        <input onclick="this.parentElement.click()" type="checkbox" {{ "checked=1" if worker.cpu_enabled }}></a></td>
                {% else %}
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                {% endif %}

                {% if worker.gpu_info %}
                    <td>{{worker.gpu_info["cores"]}}</td>
                    <td>{{worker.gpu_info["score"]}}</td>
                    <td><a href="/control/update_enabled/{{worker.id}}/gpu/{{not(worker.gpu_enabled)}}">
                        <input onclick="this.parentElement.click()" type="checkbox" {{ "checked=1" if worker.gpu_enabled }}></a></td>
                {% else %}
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
